@use 'variables'
@use 'reset'
@use 'utilities'
@use 'mixins'

.container
  padding: 0 1em
  max-width: 60em
  margin-inline: auto
  border: 2px solid red

header,
article
  padding: 4rem 0

  @inlcude mixins.mobile
    padding: 7rem 0

